* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #26373f;
    text-decoration: none;
}

.logo {
    position: relative;
    padding-top: 10px;
}

header {
    text-align: center;
    background-image: url(../assets/atmos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 1px 1px 3px #00000080;
    border-radius: 10px;
}

header img {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 1px 1px 3px #000;
}

header h1 {
    font-weight: bolder;
    font-size: 140px;
    padding-bottom: 5px;
    padding-top: 50px;
    color: rgb(207, 195, 143);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
    line-height: 90px;
}

.subtitle {
    font-size: 60px;
    color: rgb(116, 138, 96);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
}

nav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 1px 3px #000;
    position: fixed;
    right: 10px;
    border-radius: 10px;
    z-index: 1;
}

nav a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

nav a:hover {
    background-color: #748a60;
    color: #0A3048;
    z-index: 1;
}

/*.active {*/
/*    background-color: #748a60;*/
/*    color: #0A3048;*/
/*    z-index: 1;*/
/*}*/

h2 {
    font-size: 35px;
    color: #CFC38F;
}

h3 {
    font-size: 25px;
    color: #0A3048;
}

h3:hover {
    color: #21638C;
}

/* timeline by w3schools
/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #CFC38F;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #CFC38F;
    border: 4px solid #4E584F;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #748a60;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #748a60;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #748a60;
    border-width: 10px 10px 10px 0;
    border-color: transparent #748a60 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #748a60;
    position: relative;
    border-radius: 6px;
    box-shadow: 1px 1px 3px #00000080;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #748a60;
        border-width: 10px 10px 10px 0;
        border-color: transparent #748a60 transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

footer {
    text-align: center;
    margin-top: 40px;
}

.credits, .license {
    text-decoration: none;
    font-size: 14px;
    color: #0085a1;
}



