body {
    padding-top: 1.5rem;
}

.icon {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.chat-partner {
    background-color: #e9ecef;
    padding: 1em;
    border-radius: 0.5em;
    text-align: left;
}

.chat-self {
    background-color: #007bff;
    color: white;
    padding: 1em;
    border-radius: 0.5em;
    text-align: right;
}

