@charset "UTF-8";
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    font-family: Georgia, serif;
    font-size: 100%;
    background-color: white;
    margin: 0;
}

/* link styles */
a {
    text-decoration: none;
    border-bottom: 1px dotted;
    padding-bottom: .2em;
}

a:link, a:visited {
    color: #DC6903;
}

a:focus, a:hover, a:active {
    color: #F9AB33;
}


/* header styles */
header {
    height: 15em;
    color: white;
    background: url(images/croissants_banner.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
}

header h1 {
    margin-top: 1.5em;
}

header p {
    font-style: italic;
    font-size: 1.2em;
    margin-top: -12px;
}

/* nav styles */
nav, footer {
    font-family: verdana, sans-serif;
    background-color: #783F27;
}

nav ul {
    margin: 0;
}

nav ul li a:link, nav ul li a:visited {
    color: #F9AB33;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
    color: #fff;
}

nav ul li {
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
}

/* main "products" styles */
main {
    margin: 2.5%;
    padding: 1em;
    font-family: 'Stint Ultra Expanded', cursive;
    background-color: white;
    line-height: 1.8em;
    color: #555;
    border: double 4px #EADDC4;
    border-radius: 25px;
}

h3 {
    text-transform: uppercase;
    letter-spacing: .2em;
    color: #7A0002;
    border-top: 1px solid;
    border-left: 3px solid;
    padding-left: 1em;
    margin-top: 2.5em;
}

p.more {
    font-family: verdana, sans-serif;
    text-transform: uppercase;
    font-size: .8em;
}

/* aside "hours" styles */
aside {
    margin: 1em 2.5% 0 10%;
    padding: 1em;
    padding-left: 45px;
    background: url(images/scallop.png) repeat-y left top;
    background-color: #F6F3ED;
    border-top-right-radius: 25px;
}

/* misc styles */
footer {
    padding: 1em;
    color: #EADDC4;
    text-align: center;
    font-size: .8em;
}

h2 {
    font-family: 'Stint Ultra Expanded', cursive;
}

.day {
    color: #783F27;
    font-family: verdana, sans-serif;
    font-size: .8em;
    text-transform: uppercase;
}

